<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>安装界面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item">欢迎用户:[[${session.user.username}]]</li>
    <li class="layui-nav-item" style="float: right"><a href="">返回主界面</a></li>
</ul>
<form type="post">
    <div class="layui-form-item">
        <label class="layui-form-label">vendorId:</label>
        <div class="layui-input-block" style="width: 200px">
            <input type="text" name="vendorId" id="vendorId" required class="layui-input" th:value="${session.vendorId}"
                   readonly="readonly">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户ID:</label>
        <div class="layui-input-block" style="width: 200px">
            <input type="text" name="userId" id="userId" required class="layui-input" th:value="${session.user.userid}"
                   readonly="readonly">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">售货机ID:</label>
        <div class="layui-input-block">
            <select name="symbolId" id="symbolId" lay-verify="required" style="width: 200px;height: 38px">
                <option th:each="symbol : ${session.symbols}" th:if="${session.symbols}!= null" th:text="${symbol.symbolId}"></option>
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label"> 安装时间：</label>
        <div class="layui-inline" style="width: 200px">
            <input type="text" name="installTime" id="installTime" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-inline">
            <input type="button" class="layui-btn" onclick="doinfo()" value="预约安装">
        </div>
    </div>
</form>
<script th:src="@{/jquery-2.1.1.min.js}" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/layui/layui.all.js" th:src="@{/layui/layui.all.js}"></script>
<script type="text/javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#installTime', //指定元素
            format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
        });
    });

    function doinfo() {

        var userId = $("#userId").val();
        var symbolId = $("#symbolId").val();
        var installTime = $("#installTime").val();
        var vendorId = $("#vendorId").val();
        // alert("/installer/createinfoAgain?vendorId="+vendorId+"&userid="+userId);
        //    使用ajax提交表单数据
        var loadingIndex = null;
        $.ajax({
            type: 'POST',
            url: "/installer/doinfo",
            data: {
                "userId": userId,
                "symbolId": symbolId,
                "installTime": installTime
            },
            beforeSend: function () {
                loadingIndex = layer.msg('处理中', {icon: 16});
                 alert("预约成功");
            },
            success: function (result) {
                //成功提交数据则将处理的图标关闭
                layer.close(loadingIndex);
                if (result.success) {
                    window.location.href = "/installer/createinfoAgain?vendorId="+vendorId+"&userid="+userId;
                } else {
                    // layer.msg("用户账号或密码错误！", {time: 2000, icon: 2, shift: 6}, function () {
                    // });
                    window.location.href = "/installer/createinfoAgain?vendorId="+vendorId+"&userid="+userId;
                }
            }
        });

    }
</script>
</body>
</html>