<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="utf-8"/>
    <title>最家</title>
    <link rel="stylesheet" type="text/css" href="/vendor/vendor_main/static/assets/css/customer/public.css"
          th:href="@{/assets/css/customer/public.css}"/>
    <link rel="stylesheet" type="text/css" href="/vendor/vendor_main/static/assets/css/customer/index.css"
          th:href="@{/assets/css/customer/index.css}"/>
</head>
<body>
<!------------------------------head------------------------------>
<div class="head" th:fragment="head">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl"><a href="index.html"><img src="/vendor/vendor_main/static/assets/img/customer/logo.png"
                                                     th:src="@{/assets/img/customer/logo.png}"/></a></h1>
            <div class="fr clearfix" id="top1">
                <p class="fl">
                    <a href="#" id="login">登录</a>
                    <a href="#" id="reg">注册</a>
                </p>
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="热门搜索：干花花瓶"/>
                    <input type="button"/>
                </form>
                <div class="btn fl clearfix">
                    <a href="mygxin.html">
                        <img src="/vendor/vendor_main/static/assets/img/customer/grzx.png"
                             th:src="@{/assets/img/customer/grzx.png}"/>
                    </a>
                    <a href="#" class="er1">
                        <img src="/vendor/vendor_main/static/assets/img/customer/ewm.png"
                             th:src="@{/assets/img/customer/grzx.png}"/>
                    </a>
                    <a href="cart.html">
                        <img src="/vendor/vendor_main/static/assets/img/customer/gwc.png"
                             th:src="@{/assets/img/customer/grzx.png}"/>
                    </a>
                    <p>
                        <a href="#">
                            <img src="/vendor/vendor_main/static/assets/img/customer/smewm.png"
                                 th:src="@{/assets/img/customer/smewm.png}"/>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="index.html">首页</a></li>
            <li>
                <a href="#">所有商品</a>
            </li>
            <li>
                <a href="flowerDer.html">饮料机</a>
            </li>
            <li>
                <a href="decoration.html">酸奶机</a>
            </li>
            <li><a href="paint.html">盒饭机</a></li>
            <li><a href="perfume.html">冰淇淋机</a></li>
            <li><a href="idea.html">综合机</a></li>
        </ul>
    </div>
</div>
</body>
</html>