<!--
  162012班 第四组
  智能售货机管理系统——顾客模块
  FileName: js
  Author:   huangwenyuan
  Date:     2019/06/13 下午 12:22
  Description: 页面的共用的js文件
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</body>
<!--公共头部的js-->
<span th:fragment="js">
    <!--引入layer-->
    <script th:src="@{/layer/layer.js}" type="text/javascript"></script>
    <script type="text/javascript" th:inline="javascript">
    //去购物车页面的方法
    function showCart() {
        //购买顾客编号
        var userId = [[${session.user.userid}]];

        //    使用ajax提交表单数据
        var loadingIndex = null;
        $.ajax({
            type: 'POST',
            url: "/customer/cart",
            data: {
                "userId": userId
            },
            beforeSend: function () {
                loadingIndex = layer.msg('处理中', {icon: 16});
            },
            success: function (result) {
                //成功提交数据则将处理的图标关闭
                layer.close(loadingIndex);
                if (result.success) {
                    //跳转到购物车页面
                    window.location.href = "/cart";
                } else {
                    layer.msg("查看购物车失败！", {time: 2000, icon: 2, shift: 6}, function () {
                    });
                }
            }
        });
    }

    //退出系统的方法
    function doLogout() {
        layer.confirm("真的要退出系统吗？", {icon: 3, title: '提示'}, function (cindex) {
            //确认退出
            window.location.href = "/logout";
            layer.close(cindex);
        }, function (cindex) {
            //取消退出
            layer.close(cindex);
        });
    }

</script>
</span>

<!--购物车部分的js-->
<span th:fragment="cart">
    <script type="text/javascript" charset="utf-8">

    $(function () {
        /**************数量加减***************/
        $(".num .sub").click(function () {
            var num = parseInt($(this).siblings("span").text());
            if (num <= 1) {
                $(this).attr("disabled", "disabled");
            } else {
                num--;
                $(this).siblings("span").text(num);
                //获取除了货币符号以外的数字
                var price = $(this).parents(".number").prev().text().substring(1);
                //单价和数量相乘并保留两位小数
                $(this).parents(".th").find(".sAll").text('￥' + (num * price).toFixed(2));
                jisuan();
                zg();
            }
        });
        $(".num .add").click(function () {
            var num = parseInt($(this).siblings("span").text());
            if (num >= 5) {
                confirm("限购5件");
            } else {
                num++;
                $(this).siblings("span").text(num);
                var price = $(this).parents(".number").prev().text().substring(1);
                $(this).parents(".th").find(".sAll").text('￥' + (num * price).toFixed(2));
                jisuan();
                zg();
            }
        });

        //计算总价
        function jisuan() {
            var all = 0;
            //复选框选中的个数
            var len = $(".th input[type='checkbox']:checked").length;
            //未选中
            if (len == 0) {
                $("#all").text('￥' + parseFloat(0).toFixed(2));
            } else {
                $(".th input[type='checkbox']:checked").each(function () {
                    //获取小计里的数值
                    var sAll = $(this).parents(".pro").siblings('.sAll').text().substring(1);
                    //累加
                    all += parseFloat(sAll);
                    //赋值
                    $("#all").text('￥' + all.toFixed(2));
                })
            }

        }

        //计算总共几件商品
        function zg() {
            var zsl = 0;
            var index = $(".th input[type='checkbox']:checked").parents(".th").find(".num span");
            var len = index.length;
            if (len == 0) {
                $("#sl").text(0);
            } else {
                index.each(function () {
                    zsl += parseInt($(this).text());
                    $("#sl").text(zsl);
                })
            }
            if ($("#sl").text() > 0) {
                $(".count").css("background", "#c10000");
            } else {
                $(".count").css("background", "#8e8e8e");
            }
        }

        /*****************商品全选***********************/
        $("input[type='checkbox']").on('click', function () {
            var sf = $(this).is(":checked");
            var sc = $(this).hasClass("checkAll");
            if (sf) {
                if (sc) {
                    $("input[type='checkbox']").each(function () {
                        this.checked = true;
                    });
                    zg();
                    jisuan();
                } else {
                    $(this).checked = true;
                    var len = $("input[type='checkbox']:checked").length;
                    var len1 = $("input").length - 1;
                    if (len == len1) {
                        $("input[type='checkbox']").each(function () {
                            this.checked = true;
                        });
                    }
                    zg();
                    jisuan();
                }
            } else {
                if (sc) {
                    $("input[type='checkbox']").each(function () {
                        this.checked = false;
                    });
                    zg();
                    jisuan();
                } else {
                    $(this).checked = false;
                    var len = $(".th input[type='checkbox']:checked").length;
                    var len1 = $("input").length - 1;
                    if (len < len1) {
                        $('.checkAll').attr("checked", false);
                    }
                    zg();
                    jisuan();
                }
            }

        });

        //删除购物车商品
        $('.del').click(function () {
            //单个删除
            if ($(this).parent().parent().hasClass("th")) {
                $(".mask").show();
                $(".tipDel").show();
                index = $(this).parents(".th").index() - 1;
                $('.cer').click(function () {
                    $(".mask").hide();
                    $(".tipDel").hide();
                    $(".th").eq(index).remove();
                    $('.cer').off('click');
                    if ($(".th").length == 0) {
                        $(".table .goOn").show();
                    }
                })
            } else {
                //选中多个一起删除
                if ($(".th input[type='checkbox']:checked").length == 0) {
                    $(".mask").show();
                    $(".pleaseC").show();
                }
                else {
                    $(".mask").show();
                    $(".tipDel").show();
                    $('.cer').click(function () {
                        $(".th input[type='checkbox']:checked").each(function (j) {
                            index = $(this).parents('.th').index() - 1;
                            $(".th").eq(index).remove();
                            if ($(".th").length == 0) {
                                $(".table .goOn").show();
                            }
                        })
                        $(".mask").hide();
                        $(".tipDel").hide();
                        zg();
                        jisuan();
                    })
                }
            }
        });
        $('.cancel').click(function () {
            $(".mask").hide();
            $(".tipDel").hide();
        });

    });

</script>


</span>

</html>