<!--
  162012班 第四组
  智能售货机管理系统——运维模块
  FileName: a
  Author:   YuHaoran
  Date:     2019/6/14 22:38
  Description: 
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/login.css">

</head>
<body>
<p class="clear box layui-main login">

    <form class="layui-form layui-form-pane1" action="ulogin" method="post">
<p class="layui-form-item">
    <label class="layui-form-label">用户名：</label>
<p class="layui-input-block">
    <input type="text" name="user.name" lay-verify="uname" required
           placeholder="请输入用户名" autocomplete="off" class="layui-input">${UnameErrMsg?if_exists}
</p>
</p>
<p class="layui-form-item">
    <label class="layui-form-label">密码：</label>
<p class="layui-input-block">
    <input type="password" name="user.pwd" lay-verify="" required
           placeholder="请输入密码" autocomplete="off" class="layui-input">${PwdErrMsg?if_exists}
</p>
</p>
\
<p class="layui-form-item">
    <label class="layui-form-label"></label>
    <button class="layui-btn layui-btn-normal btn-center" type="submit">登录</button>
</p>
</form>
</p>

<script src="/static/js/layui.js"></script>
</body>
</html>