<!--
  162012班 第四组
  智能售货机管理系统——运维模块
  FileName: patrol
  Author:   YuHaoran
  Date:     2019/6/10 20:58
  Description: 
-->
<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>维修人员界面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item"><a href="">欢迎维修人员×××</a></li>
    <li class="layui-nav-item"><a href="supplyGoods.html">售货机补货</a></li>
    <li class="layui-nav-item"><a href="">维修订单</a></li>
    <li class="layui-nav-item"><a href="">巡查详情</a></li>
    <li class="layui-nav-item" style="float: right"><a href="">返回主界面</a></li>
</ul>

<div style="text-align: center;font-size: 40px">用Ajax局部刷新页面</div>
</body>
</html>