<!--
  162012班 第四组
  智能售货机管理系统——XXX模块
  FileName: 404
  Author:   huangwenyuan
  Date:     2019/06/21 下午 12:58
  Description: 
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/assets/css/commons/404.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="wrapper">
    <div class="TextHolder">
        <div class="Texts">
            <div class="FourOhFour">404</div>
            <div class="Maybe">GUH.. Maybe.. We have <span>PROBLEMS HERE</span></div>
            <div class="Bad">MY BAD this page couldn't be found.</div>
            <div class="Return">RETURN HOME</div>
        </div>
    </div>
    <div class="Body">
        <div class="LeftEye"></div>
        <div class="RightEye"></div>
        <div class="EyeShadows"></div>
        <div class="Mouth"></div>
        <div class="MouthShadows"></div>
        <div class="Theet"></div>
        <div class="BodyTexture"></div>
    </div>
    <div class="Horns">
        <div class="HornsExtras"></div>
    </div>
    <div class="LeftHand"></div>
    <div class="RightHand"></div>
</div>
<h4>Move ur mouse <br> left or Right :)</h4>
<script type="text/javascript" th:src="@{/assets/js/commons/404.js}"></script>
</body>
</html>