<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>酸奶机</title>
    <link rel="stylesheet" type="text/css" href="/vendor/vendor_main/static/assets/css/customer/public.css"
          th:href="@{/assets/css/customer/public.css}"/>
    <link rel="stylesheet" type="text/css" href="/vendor/vendor_main/static/assets/css/customer/proList.css"
          th:href="@{/assets/css/customer/proList.css}"/>
</head>
<body>
<!------------------------------head------------------------------>
<div class="head">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl"><a href="index.html"><img src="/vendor/vendor_main/static/assets/img/customer/logo.png"
                                                     th:src="@{/assets/img/customer/logo.png}"/></a></h1>
            <div class="fr clearfix" id="top1">
                <p class="fl">
                    <a href="#" id="login">登录</a>
                    <a href="#" id="reg">注册</a>
                </p>
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="热门搜索：干花花瓶"/>
                    <input type="button"/>
                </form>
                <div class="btn fl clearfix">
                    <a href="mygxin.html">
                        <img src="/vendor/vendor_main/static/assets/img/customer/grzx.png"
                             th:src="@{/assets/img/customer/grzx.png}"/>
                    </a>
                    <a href="cart.html">
                        <img src="/vendor/vendor_main/static/assets/img/customer/gwc.png"
                             th:src="@{/assets/img/customer/grzx.png}"/>
                    </a>
                    <p>
                        <a href="#">
                            <img src="/vendor/vendor_main/static/assets/img/customer/smewm.png"
                                 th:src="@{/assets/img/customer/smewm.png}"/>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="index.html">首页</a></li>
            <li>
                <a href="#">所有商品</a>
            </li>
            <li>
                <a href="flowerDer.html">饮料机</a>
            </li>
            <li>
                <a href="decoration.html">酸奶机</a>
            </li>
            <li><a href="paint.html">盒饭机</a></li>
            <li><a href="perfume.html">冰淇淋机</a></li>
            <li><a href="idea.html">综合机</a></li>
        </ul>
    </div>
</div>

<!------------------------------banner------------------------------>
<div class="banner">
    <a href="#"><img src="/vendor/vendor_main/static/assets/img/customer/temp/bzbig.jpg"/></a>
</div>
<!-----------------address------------------------------->
<div class="address">
    <div class="wrapper clearfix">
        <a href="index.html">首页</a>
        <span>/</span>
        <a href="decoration.html" class="on">酸奶机</a>
    </div>
</div>
<!-------------------current---------------------->
<div class="current">
    <div class="wrapper clearfix">
        <h3 class="fl">酸奶机</h3>
        <div class="fr choice">
            <p class="default">排序方式</p>
            <ul class="select">
                <li>新品上市</li>
                <li>销量从高到低</li>
                <li>销量从低到高</li>
                <li>价格从高到低</li>
                <li>价格从低到高</li>
            </ul>
        </div>
    </div>
</div>
<!----------------proList------------------------->
<ul class="proList wrapper clearfix">
    <li>
        <a href="proDetail.html">
            <dl>
                <dt>
                    <img src="/vendor/vendor_main/static/assets/img/customer/sn1.jpg"
                         th:src="@{/assets/img/customer/sn1.jpg}"/>
                </dt>
                <dd>【酸奶机】酸奶自动销售机</dd>
                <dd>￥20000.0</dd>
            </dl>
        </a>
    </li>

    <li>
        <a href="proDetail.html">
            <dl>
                <dt>
                    <img src="/vendor/vendor_main/static/assets/img/customer/ss2.jpg"
                         th:src="@{/assets/img/customer/sn2.jpg}"/>
                </dt>
                <dd>【酸奶机】酸奶自动销售机</dd>
                <dd>￥20000.0</dd>
            </dl>
        </a>
    </li>

    <li>
        <a href="proDetail.html">
            <dl>
                <dt>
                    <img src="/vendor/vendor_main/static/assets/img/customer/sn3.jpg"
                         th:src="@{/assets/img/customer/sn3.jpg}"/>
                </dt>
                <dd>【酸奶机】酸奶自动销售机</dd>
                <dd>￥20000.0</dd>
            </dl>
        </a>
    <li>
        <a href="proDetail.html">
            <dl>
                <dt>
                    <img src="/vendor/vendor_main/static/assets/img/customer/sn4.jpg"
                         th:src="@{/assets/img/customer/sn4.jpg}"/>
                </dt>
                <dd>【酸奶机】酸奶自动销售机</dd>
                <dd>￥20000.0</dd>
            </dl>
        </a>
    </li>
    <li>
        <a href="proDetail.html">
            <dl>
                <dt>
                    <img src="/vendor/vendor_main/static/assets/img/customer/sn5.jpg"
                         th:src="@{/assets/img/customer/sn5.jpg}"/>
                </dt>
                <dd>【酸奶机】酸奶自动销售机</dd>
                <dd>￥20000.0</dd>
            </dl>
        </a>
    </li>
</ul>

<!----------------mask------------------->
<div class="mask"></div>
<!-------------------mask内容------------------->
<div class="proDets">
    <img class="off" src="img/temp/off.jpg"/>
    <div class="tit clearfix">
        <h4 class="fl">【最家】非洲菊仿真花干花</h4>
        <span class="fr">￥17.90</span>
    </div>
    <div class="proCon clearfix">
        <div class="proImg fl">
            <img class="list" src="img/temp/proDet.jpg"/>
            <div class="smallImg clearfix">
                <img src="img/temp/proDet01.jpg" data-src="img/temp/proDet01_big.jpg">
                <img src="img/temp/proDet02.jpg" data-src="img/temp/proDet02_big.jpg">
                <img src="img/temp/proDet03.jpg" data-src="img/temp/proDet03_big.jpg">
                <img src="img/temp/proDet04.jpg" data-src="img/temp/proDet04_big.jpg">
            </div>
        </div>
        <div class="fr">
            <div class="proIntro">
                <p>颜色分类</p>
                <div class="smallImg clearfix categ">
                    <p class="fl"><img src="img/temp/prosmall01.jpg" alt="白瓷花瓶+20支快乐花" data-src="img/temp/proBig01.jpg">
                    </p>
                    <p class="fl"><img src="img/temp/prosmall02.jpg" alt="白瓷花瓶+20支兔尾巴草"
                                       data-src="img/temp/proBig02.jpg"></p>
                    <p class="fl"><img src="img/temp/prosmall03.jpg" alt="20支快乐花" data-src="img/temp/proBig03.jpg"></p>
                    <p class="fl"><img src="img/temp/prosmall04.jpg" alt="20支兔尾巴草" data-src="img/temp/proBig04.jpg"></p>
                </div>
                <p>数量</p>
                <div class="num clearfix">
                    <img class="fl sub" src="img/temp/sub.jpg">
                    <span class="fl" contentEditable="true">1</span>
                    <img class="fl add" src="img/temp/add.jpg">
                    <p class="please fl">请选择商品属性!</p>
                </div>
            </div>
            <div class="btns clearfix">
                <a href="#2"><p class="buy fl">立即购买</p></a>
                <a href="#2"><p class="cart fr">加入购物车</p></a>
            </div>
        </div>
    </div>
    <a class="more" href="proDetail.html">查看更多细节</a>
</div>
<!--返回顶部-->
<div class="gotop">
    <a href="cart.html">
        <dl>
            <dt><img src="/vendor/vendor_main/static/assets/img/customer/gt1.png"
                     th:src="@{/assets/img/customer/gt1.png}"/></dt>
            <dd>去购<br/>物车</dd>
        </dl>
    </a>
    <a href="#" class="dh">
        <dl>
            <dt><img src="/vendor/vendor_main/static/assets/img/customer/gt2.png"
                     th:src="@{/assets/img/customer/gt2.png}"/></dt>
            <dd>联系<br/>客服</dd>
        </dl>
    </a>
    <a href="mygxin.html">
        <dl>
            <dt><img src="/vendor/vendor_main/static/assets/img/customer/gt3.png"
                     th:src="@{/assets/img/customer/gt3.png}"/></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a href="#" class="toptop" style="display: none">
        <dl>
            <dt><img src="/vendor/vendor_main/static/assets/img/customer/gt4.png"
                     th:src="@{/assets/img/customer/gt4.png}"/></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
    <p>400-800-8200</p>
</div>
<div class="msk"></div>
<!--footer-->
<div class="footer">
    <div class="top">
        <div class="wrapper">
            <div class="clearfix">
                <a href="#2" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/foot1.png"
                                             th:src="@{/assets/img/customer/foot1.png}"/></a>
                <span class="fl">7天内发货</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/foot2.png"
                                             th:src="@{/assets/img/customer/foot2.png}"/></a>
                <span class="fl">15天送达</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/foot3.png"
                                             th:src="@{/assets/img/customer/foot3.png}"/></a>
                <span class="fl">送货上门</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/foot4.png"
                                             th:src="@{/assets/img/customer/foot4.png}"/></a>
                <span class="fl">免费安装</span>
            </div>
        </div>
    </div>
    <p class="dibu">最家家居&copy;2013-2017公司版权所有 京ICP备080100-44备0000111000号<br/>
        违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
</div>

<script src="/vendor/vendor_main/static/assets/js/customer/jquery-1.12.4.min.js"
        th:src="@{/assets/js/customer/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/public.js" th:src="@{/assets/js/customer/public.js}"
        type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/nav.js" th:src="@{/assets/js/customer/nav.js}"
        type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/pro.js" th:src="@{/assets/js/customer/pro.js}"
        type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/cart.js" th:src="@{/assets/js/customer/cart.js}"
        type="text/javascript" charset="utf-8"></script>
</body>
</html>
