<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>饮料机</title>
    <link rel="stylesheet" type="text/css" href="/vendor/vendor_main/static/assets/css/customer/public.css"
          th:href="@{/assets/css/customer/public.css}"/>
    <link rel="stylesheet" type="text/css" href="/vendor/vendor_main/static/assets/css/customer/proList.css"
          th:href="@{/assets/css/customer/proList.css}"/>
</head>
<body>
<!------------------------------head------------------------------>
<div th:replace="commons/bar::headbar"></div>

<!------------------------------banner------------------------------>
<div class="banner">
    <a href="#"><img src="/vendor/vendor_main/static/assets/img/customer/banner11.png"
                     th:src="@{/assets/img/customer/banner11.png}"/></a>
</div>
<!-----------------address------------------------------->
<div class="address">
    <div class="wrapper clearfix">
        <a href="index.html" th:href="@{/index}">首页</a>
        <span>/</span>
        <a href="drink.html" th:href="@{/drink}" class="on">饮料机</a>
    </div>
</div>
<!-------------------current---------------------->
<div class="current">
    <div class="wrapper clearfix">
        <h3 class="fl">饮料机</h3>
        <div class="fr choice">
            <p class="default">排序方式</p>
            <ul class="select">
                <li>新品上市</li>
                <li>销量从高到低</li>
                <li>销量从低到高</li>
                <li>价格从高到低</li>
                <li>价格从低到高</li>
            </ul>
        </div>
    </div>
</div>
<!----------------proList------------------------->
<ul class="proList wrapper clearfix">
    <li th:each="drinkVendor,n:${session.drinkVendors}">
        <a href="detail.html" th:href="@{/detail}">
            <dl>
                <dt>
                    <img th:src="@{${drinkVendor.pricture1}}"/>
                </dt>
                <dd th:text="${drinkVendor.vendorName}"></dd>
                <dd><span>[[${drinkVendor.price}]]</span></dd>
            </dl>
        </a>
    </li>
</ul>

<!--引入返回顶部工具栏-->
<div th:replace="commons/bar::gotobar"></div>
<div class="msk"></div>
<!--引入页面底部-->
<div th:replace="commons/bar::footerbar"></div>
<script th:src="@{/assets/js/customer/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/customer/public.js}"
        type="text/javascript" charset="utf-8"></script>
<script  th:src="@{/assets/js/customer/nav.js}"
        type="text/javascript" charset="utf-8"></script>
<script  th:src="@{/assets/js/customer/pro.js}"
        type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/customer/cart.js}"
        type="text/javascript" charset="utf-8"></script>
</body>
</html>
