<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="utf-8"/>
    <title>机你太美</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/customer/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/customer/index.css}"/>
</head>
<body>
<!--引入页面头部-->
<div th:replace="commons/bar::headbar"></div>
<!-------------------------banner--------------------------->
<div class="block_home_slider">
    <div id="home_slider" class="flexslider">
        <ul class="slides">
            <li>
                <div class="slide">
                    <img th:src="@{/assets/img/customer/banner1.png}"/>
                </div>
            </li>
            <li>
                <div class="slide">
                    <img th:src="@{/assets/img/customer/banner2.png}"/>
                </div>
            </li>
            <li>
                <div class="slide">
                    <img th:src="@{/assets/img/customer/banner3.png}"/>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--此div每行四个-->
<div class="people">
    <div class="wrapper">
        <!--饮料机-->
        <h2><img th:src="@{/assets/img/customer/ih1.png}"/>
        </h2>
        <!--每行有4个的行-->
        <div class="pList clearfix tran" th:each="drinkVendor,n:${session.drinkVendors}" th:if="${n.count % 4 == 0}">
            <!--每行第一个-->
            <a href="detail.html" th:href="@{/detail/}+${session.drinkVendors[n.count - 4].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.drinkVendors[n.count - 4].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.drinkVendors[n.count - 4].vendorName}"></dd>
                    <dd><span>[[${session.drinkVendors[n.count - 4].price}]]</span></dd>
                </dl>
            </a>
            <!--每行第二个-->
            <a href="detail.html" th:href="@{/detail/}+${session.drinkVendors[n.count - 3].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.drinkVendors[n.count - 3].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.drinkVendors[n.count - 3].vendorName}"></dd>
                    <dd><span>[[${session.drinkVendors[n.count - 3].price}]]</span></dd>
                </dl>
            </a>
            <!--每行第三个-->
            <a href="detail.html" th:href="@{/detail/}+${session.drinkVendors[n.count - 2].vendorId}">

                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.drinkVendors[n.count - 2].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.drinkVendors[n.count - 2].vendorName}"></dd>
                    <dd><span>[[${session.drinkVendors[n.count - 2].price}]]</span></dd>
                </dl>
            </a>
            <!--每行第四个-->
            <a href="detail.html" th:href="@{/detail/}+${session.drinkVendors[n.count - 1].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.drinkVendors[n.count - 1].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.drinkVendors[n.count - 1].vendorName}"></dd>
                    <dd><span>[[${session.drinkVendors[n.count - 1].price}]]</span></dd>
                </dl>
            </a>
        </div>

        <!--不足4个的那一行-->
        <div class="pList clearfix tran">
            <a href="detail.html" th:href="@{/detail}+${drinkVendor.vendorId}"
               th:each="drinkVendor,i:${session.drinkVendors}"
               th:if="${i.count > ((session.drinkVendors.size()/4)*4) && i.count <=session.drinkVendors.size()}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${drinkVendor.pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${drinkVendor.vendorName}"></dd>
                    <dd><span>[[${drinkVendor.price}]]</span></dd>
                </dl>
            </a>
        </div>
    </div>
</div>

<!--此div每行三个-->
<div class="news">
    <div class="wrapper">
        <!--酸奶机-->
        <h2><img th:src="@{/assets/img/customer/ih2.png}"/></h2>
        <!--每行有3个的行-->
        <div class="flower clearfix tran" th:each="yogurtVendor,n:${session.yogurtVendors}" th:if="${n.count % 3 == 0}">
            <!--每行第一个-->
            <a href="detail.html" th:href="@{/detail/}+${session.yogurtVendors[n.count - 3].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.yogurtVendors[n.count - 3].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.yogurtVendors[n.count - 3].vendorName}"></dd>
                    <dd><span>[[${session.yogurtVendors[n.count - 3].price}]]</span></dd>
                </dl>
            </a>
            <!--每行第二个-->
            <a href="detail.html" th:href="@{/detail/}+${session.yogurtVendors[n.count - 2].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.yogurtVendors[n.count - 2].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.yogurtVendors[n.count - 2].vendorName}"></dd>
                    <dd><span>[[${session.yogurtVendors[n.count - 2].price}]]</span></dd>
                </dl>
            </a>
            <!--每行第三个-->
            <a href="detail.html" th:href="@{/detail/}+${session.yogurtVendors[n.count - 1].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.yogurtVendors[n.count - 1].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.yogurtVendors[n.count - 1].vendorName}"></dd>
                    <dd><span>[[${session.yogurtVendors[n.count - 1].price}]]</span></dd>
                </dl>
            </a>
        </div>
        <!--不足3个的那一行-->
        <div class="pList clearfix tran">
            <a href="detail.html" th:href="@{/detail/}+${yogurtVendor.vendorId}"
               th:each="yogurtVendor,i:${session.yogurtVendors}"
               th:if="${i.count > ((session.yogurtVendors.size()/3)*3) && i.count <=session.yogurtVendors.size()}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${yogurtVendor.pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${yogurtVendor.vendorName}"></dd>
                    <dd><span>[[${yogurtVendor.price}]]</span></dd>
                </dl>
            </a>
        </div>

        <!--盒饭机-->
        <h2><img th:src="@{/assets/img/customer/ih3.png}"/></h2>
        <!--每行有3个的行-->
        <div class="flower clearfix tran" th:each="lunchVendor,n:${session.lunchVendors}" th:if="${n.count % 3 == 0}">
            <!--每行第一个-->
            <a href="detail.html" th:href="@{/detail/}+${session.lunchVendors[n.count - 3].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.lunchVendors[n.count - 3].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.lunchVendors[n.count - 3].vendorName}"></dd>
                    <dd><span>[[${session.lunchVendors[n.count - 3].price}]]</span></dd>
                </dl>
            </a>
            <!--每行第二个-->
            <a href="detail.html" th:href="@{/detail/}+${session.lunchVendors[n.count - 2].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.lunchVendors[n.count - 2].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.lunchVendors[n.count - 2].vendorName}"></dd>
                    <dd><span>[[${session.lunchVendors[n.count - 2].price}]]</span></dd>
                </dl>
            </a>
            <!--每行第三个-->
            <a href="detail.html" th:href="@{/detail/}+${session.lunchVendors[n.count - 1].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.lunchVendors[n.count - 1].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.lunchVendors[n.count - 1].vendorName}"></dd>
                    <dd><span>[[${session.lunchVendors[n.count - 1].price}]]</span></dd>
                </dl>
            </a>
        </div>
        <!--不足3个的那一行-->
        <div class="pList clearfix tran">
            <a href="detail.html" th:href="@{/detail/}+${lunchVendor.vendorId}"
               th:each="lunchVendor,i:${session.lunchVendors}"
               th:if="${i.count > ((session.lunchVendors.size()/3)*3) && i.count <=session.lunchVendors.size()}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${lunchVendor.pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${lunchVendor.vendorName}"></dd>
                    <dd><span>[[${lunchVendor.price}]]</span></dd>
                </dl>
            </a>
        </div>

        <!--冰淇淋机-->
        <h2><img th:src="@{/assets/img/customer/ih4.png}"/></h2>
        <!--每行有3个的行-->
        <div class="flower clearfix tran" th:each="iceCreamVendor,n:${session.iceCreamVendors}"
             th:if="${n.count % 3 == 0}">
            <!--每行第一个-->
            <a href="detail.html" th:href="@{/detail/}+${session.iceCreamVendors[n.count - 3].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.iceCreamVendors[n.count - 3].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.iceCreamVendors[n.count - 3].vendorName}"></dd>
                    <dd><span>[[${session.iceCreamVendors[n.count - 3].price}]]</span></dd>
                </dl>
            </a>
            <!--每行第二个-->
            <a href="detail.html" th:href="@{/detail/}+${session.iceCreamVendors[n.count - 2].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.iceCreamVendors[n.count - 2].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.iceCreamVendors[n.count - 2].vendorName}"></dd>
                    <dd><span>[[${session.iceCreamVendors[n.count - 2].price}]]</span></dd>
                </dl>
            </a>
            <!--每行第三个-->
            <a href="detail.html" th:href="@{/detail/}+${session.iceCreamVendors[n.count - 1].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.iceCreamVendors[n.count - 1].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.iceCreamVendors[n.count - 1].vendorName}"></dd>
                    <dd><span>[[${session.iceCreamVendors[n.count - 1].price}]]</span></dd>
                </dl>
            </a>
        </div>
        <!--不足3个的那一行-->
        <div class="pList clearfix tran">
            <a href="detail.html" th:href="@{/detail/}+${iceCreamVendor.vendorId}"
               th:each="iceCreamVendor,i:${session.iceCreamVendors}"
               th:if="${i.count > ((session.iceCreamVendors.size()/3)*3) && i.count <=session.iceCreamVendors.size()}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${iceCreamVendor.pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${iceCreamVendor.vendorName}"></dd>
                    <dd><span>[[${iceCreamVendor.price}]]</span></dd>
                </dl>
            </a>
        </div>

        <!--综合机-->
        <h2><img th:src="@{/assets/img/customer/ih5.png}"/></h2>
        <!--每行有3个的行-->
        <div class="flower clearfix tran" th:each="multipleVendor,n:${session.multipleVendors}"
             th:if="${n.count % 3 == 0}">
            <!--每行第一个-->
            <a href="detail.html" th:href="@{/detail/}+${session.multipleVendors[n.count - 3].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.multipleVendors[n.count - 3].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.multipleVendors[n.count - 3].vendorName}"></dd>
                    <dd><span>[[${session.multipleVendors[n.count - 3].price}]]</span></dd>
                </dl>
            </a>
            <!--每行第二个-->
            <a href="detail.html" th:href="@{/detail/}+${session.multipleVendors[n.count - 2].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.multipleVendors[n.count - 2].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.multipleVendors[n.count - 2].vendorName}"></dd>
                    <dd><span>[[${session.multipleVendors[n.count - 2].price}]]</span></dd>
                </dl>
            </a>
            <!--每行第三个-->
            <a href="detail.html" th:href="@{/detail/}+${session.multipleVendors[n.count - 1].vendorId}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${session.multipleVendors[n.count - 1].pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${session.multipleVendors[n.count - 1].vendorName}"></dd>
                    <dd><span>[[${session.multipleVendors[n.count - 1].price}]]</span></dd>
                </dl>
            </a>
        </div>
        <!--不足3个的那一行-->
        <div class="pList clearfix tran">
            <a href="detail.html" th:href="@{/detail/}+${multipleVendor.vendorId}"
               th:each="multipleVendor,i:${session.multipleVendors}"
               th:if="${i.count > ((session.multipleVendors.size()/3)*3) && i.count <=session.multipleVendors.size()}">
                <dl>
                    <dt>
                        <span class=" abl"></span>
                        <img th:src="@{${multipleVendor.pricture1}}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${multipleVendor.vendorName}"></dd>
                    <dd><span>[[${multipleVendor.price}]]</span></dd>
                </dl>
            </a>
        </div>

    </div>
</div>

<!--引入返回顶部工具栏-->
<div th:replace="commons/bar::gotobar"></div>
<!--引入页面底部-->
<div th:replace="commons/bar::footerbar"></div>

<script th:src="@{/assets/js/customer/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/customer/public.js}"
        type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/customer/nav.js}"
        type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/customer/jquery.flexslider-min.js}" type="text/javascript"
        charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        $('#home_slider').flexslider({
            animation: 'slide',
            controlNav: true,
            directionNav: true,
            animationLoop: true,
            slideshow: true,
            slideshowSpeed: 2000,
            useCSS: false
        });

    });
</script>


</body>
</html>
