<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>订单页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/customer/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/customer/myorder.css}"/>
</head>
<body>
<!--引入页面头部-->
<div th:replace="commons/bar::headbar"></div>
<!------------------------------idea------------------------------>
<div class="address mt">
    <div class="wrapper clearfix">
        <a href="#" th:href="@{/index}" class="fl">首页</a>
        <span>/</span>
        <a href="personalcenter.html" th:href="@{/personalcenter}">个人中心</a>
        <span>/</span>
        <a href="myorder.html" th:href="@{/myorder}" class="on">我的订单</a>
    </div>
</div>

<!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div class="zuo fl">
            <h3>
                <!--<a href="#"><img th:src="@{/assets/img/customer/tx.png}"/></a>-->
                <p class="clearfix"><span class="fl">用户名:[[${session.user.username}]]</span></p>
            </h3>
            <div>
                <h4>我的交易</h4>
                <ul>
                    <li><a href="cart.html" th:href="@{/cart}">我的购物车</a></li>
                    <li><a href="myorder.html" th:href="@{/myorder}">我的订单</a></li>
                </ul>
                <h4>个人中心</h4>
                <ul>
                    <li><a href="personalcenter.html" th:href="@{/personalcenter}">我的中心</a></li>
                    <li><a href="address.html" th:href="@{/address}">地址管理</a></li>
                </ul>
                <h4>账户管理</h4>
                <ul>
                    <li class="on"><a href="information.html" th:href="@{/information}">个人信息</a></li>
                    <li><a href="modifypassword.html" th:href="@{/modifypassword}">修改密码</a></li>
                </ul>
            </div>
        </div>
        <div class="you fl">
            <div class="my clearfix">
                <h2 class="fl">我的订单</h2>
                <a href="#" class="fl">请谨防钓鱼链接或诈骗电话，了解更多&gt;</a>
            </div>
            <div class="dlist clearfix">
                <!--选择订单类别部分-->
                <ul class="fl clearfix" id="wa">
                    <li class="on"><a href="#2">全部订单</a></li>
                </ul>
                <!--搜索框部分-->
                <form action="#" method="get" class="fr clearfix">
                    <input type="text" name="" value="" placeholder="请输入商品名称、订单号"/>
                    <input type="button" name="" value=""/>
                </form>

            </div>

            <!--待安装部分-->
            <div class="dkuang deng" style="display: block" th:each="order,n:${session.orders}"
                 th:if="${order.status == 0}">
                <p class="one">待安装</p>
                <div class="word clearfix">
                    <ul class="fl clearfix">
                        <li>[[${order.orderDate}]]</li>
                        <li th:text="${consignee.consigneeName}" th:if="${consignee.isDefault == 1}"
                            th:each="consignee,n:${session.consignees}">
                        </li>
                        <li>订单号:[[${order.orderId}]]</li>
                        <li>在线支付</li>
                    </ul>
                    <p class="fr">订单金额：<span>[[${order.amount}]]</span>元</p>
                </div>
                <!--订单详情-->
                <div class="shohou clearfix" th:each="orderitem,i:${order.orderItems}">
                    <a href="#" class="fl">
                        <img th:src="@{${orderitem.vendor.pricture1}}"/>
                    </a>
                    <p class="fl"><a href="#" th:text="${orderitem.vendor.vendorName}"></a>
                        <a href="#">¥[[${orderitem.vendor.price}]]×[[${orderitem.count}]]</a>
                    </p>
                    <p class="fr">
                        <a href="javascript:void(0)" th:href="@{/installer/notInstall}" onclick="toInstall">预约安装</a>
                        <a href="orderxq.html">订单详情</a>
                    </p>
                </div>
            </div>
            <!--待维修部分-->
            <div class="dkuang deng" style="display: block" th:each="order,n:${session.orders}"
                 th:if="${order.status == 2}">
                <p class="one">待维修</p>
                <div class="word clearfix">
                    <ul class="fl clearfix">
                        <li>[[${order.orderDate}]]</li>
                        <li th:text="${consignee.consigneeName}" th:if="${consignee.isDefault == 1}"
                            th:each="consignee,n:${session.consignees}">
                        </li>
                        <li>订单号:[[${order.orderId}]]</li>
                        <li>在线支付</li>
                    </ul>
                    <p class="fr">订单金额：<span>[[${order.amount}]]</span>元</p>
                </div>
                <!--订单详情-->
                <div class="shohou clearfix" th:each="orderitem,i:${order.orderItems}">
                    <a href="#" class="fl">
                        <img th:src="@{${orderitem.vendor.pricture1}}"/>
                    </a>
                    <p class="fl"><a href="#">[[${orderitem.vendor.vendorName}]]</a>
                        <a href="#">¥[[${orderitem.vendor.price}]]×[[${orderitem.count}]]</a>
                    </p>
                    <p class="fr">
                        <a href="#">点击催单</a>
                        <a href="orderxq.html">订单详情</a>
                    </p>
                </div>
            </div>
            <!--已安装部分-->
            <div class="dkuang clearfix" style="display: block" th:each="order,n:${session.orders}"
                 th:if="${order.status == 1}">
                <p class="one">已安装</p>
                <div class="word clearfix">
                    <ul class="fl clearfix">
                        <li>[[${order.orderDate}]]</li>
                        <li th:text="${consignee.consigneeName}" th:if="${consignee.isDefault == 1}"
                            th:each="consignee,n:${session.consignees}">
                        <li>订单号:[[${order.orderId}]]</li>
                        <li>在线支付</li>
                    </ul>
                    <p class="fr">订单金额：<span>[[${order.amount}]]</span>元</p>
                </div>
                <div class="shohou clearfix" th:each="orderitem,i:${order.orderItems}">
                    <a href="#" class="fl">
                        <img th:src="@{${orderitem.vendor.pricture1}}"/>
                    </a>
                    <p class="fl"><a href="#">[[${orderitem.vendor.vendorName}]]</a>
                        <a href="#">¥[[${orderitem.vendor.price}]]×[[${orderitem.count}]]</a>
                    </p>
                    <p class="fr">
                        <a href="#" th:href="@{/maintainer/notRepair}" style="background: #A10000;color: #fff">点击报修</a>
                        <a href="orderxq.html">订单详情</a>
                    </p>
                </div>
            </div>
            <!--已维修部分-->
            <div class="dkuang clearfix" style="display: block" th:each="order,n:${session.orders}"
                 th:if="${order.status == 3}">
                <p class="one">已维修</p>
                <div class="word clearfix">
                    <ul class="fl clearfix">
                        <li>[[${order.orderDate}]]</li>
                        <li th:text="${consignee.consigneeName}" th:if="${consignee.isDefault == 1}"
                            th:each="consignee,n:${session.consignees}">
                        <li>订单号:[[${order.orderId}]]</li>
                        <li>在线支付</li>
                    </ul>
                    <p class="fr">订单金额：<span>[[${order.amount}]]</span>元</p>
                </div>
                <div class="shohou clearfix" th:each="orderitem,i:${order.orderItems}">
                    <a href="#" class="fl">
                        <img th:src="@{${orderitem.vendor.pricture1}}"/>
                    </a>
                    <p class="fl"><a href="#">[[${orderitem.vendor.vendorName}]]</a>
                        <a href="#">¥[[${orderitem.vendor.price}]]×[[${orderitem.count}]]</a>
                    </p>
                    <p class="fr">
                        <!--<a href="#">确认收货</a>-->
                        <a href="orderxq.html">订单详情</a>
                    </p>
                </div>
            </div>
            <!--分页组件-->
            <div class="fenye clearfix">
                <a href="#">
                    <img th:src="@{/assets/img/customer/zuo.jpg}"/>
                </a>
                <a href="#">1</a>
                <a href="#">
                    <img th:src="@{/assets/img/customer/you.jpg}">
                </a>
            </div>
        </div>
    </div>
</div>
<!--引入返回顶部工具栏-->
<div th:replace="commons/bar::gotobar"></div>
<!--引入页面底部-->
<div th:replace="commons/bar::footerbar"></div>
<script th:src="@{/assets/js/customer/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/customer/public.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/customer/user.js}" type="text/javascript" charset="utf-8"></script>
<!--引入公共头部的js-->
<span th:replace="commons/js::js"></span>
</body>
</html>
