<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>ok</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/customer/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/customer/proList.css}"/>
</head>
<body>
<!----------------------------------------order------------------>
<!--引入页面头部-->
<div th:replace="commons/bar::headbar"></div>
<!--</div>-->

<div class="order mt cart">
    <div class="site">
        <p class="wrapper clearfix">
            <span class="fl">支付成功</span>
            <img class="top" th:src="@{/assets/img/customer/temp/cartTop03.png}">
        </p>
    </div>
    <p class="ok">支付成功！剩余<span>5</span>秒<a th:href="@{/myorder}">返回订单页</a></p>
</div>
<!--引入页面底部-->
<div th:replace="commons/bar::footerbar"></div>
<script th:src="@{/assets/js/customer/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
<!--<script th:src="@{/jquery-2.1.1.min.js}" type="text/javascript" charset="utf-8"></script>-->
<script th:src="@{/assets/js/customer/public.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/customer/pro.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/customer/jquery.SuperSlide.2.1.1.js}" type="text/javascript"
        charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        $(".bottom").slide({
            titCell: ".hd ul",
            mainCell: ".bd .likeList",
            autoPage: true,
            autoPlay: false,
            effect: "leftLoop",
            autoPlay: true,
            vis: 1
        });
    });

</script>
</body>
</html>
