<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>订单</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/customer/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/customer/proList.css}"/>
    <script type="text/javascript">
        //去支付的方法
        function toOk() {
            //    使用ajax提交表单数据
            var loadingIndex = null;
            console.log($("#form").serialize());
            $.ajax({
                type: 'POST',
                url: "/customer/toOk",
                data: $("#form").serialize(),
                beforeSend: function () {
                    loadingIndex = layer.msg('处理中', {icon: 16});
                },
                success: function (result) {
                    //成功提交数据则将处理的图标关闭
                    layer.close(loadingIndex);
                    if (result.success) {
                        window.location.href = "/ok";
                    } else {
                        layer.msg("结算购物车失败！", {time: 2000, icon: 2, shift: 6}, function () {
                        });
                    }
                }
            });
        }
    </script>
</head>
<body>
<!----------------------------------------order------------------>
<!--引入页面头部-->
<div th:replace="commons/bar::headbar"></div>
<div class="order cart mt">
    <!-----------------site------------------->
    <div class="site">
        <p class="wrapper clearfix">
            <span class="fl">订单确认</span>
            <img class="top" th:src="@{/assets/img/customer/temp/cartTop02.png}">
        </p>
    </div>
    <!-----------------orderCon------------------->
    <div class="orderCon wrapper clearfix">
        <div class="orderL fl">
            <!--------h3---------------->
            <h3>收件信息<a th:href="@{/address}" class="fr">新增地址</a></h3>
            <!--------收获地址---------------->
            <div class="addres clearfix">
                <div th:each="consignee,n:${session.consignees}"
                     th:class="${consignee.isDefault == 1} ? 'addre fl on':'addre fl'">
                    <div class="tit clearfix">
                        <p class="fl">
                            <span class="default" th:text="${consignee.isDefault == 1}?'[默认地址]':''"></span>
                        </p>
                        <p class="fr">[[${consignee.consigneeName}]]&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#">删除</a>
                            <span>|</span>
                            <a href="#" class="edit">编辑</a>
                        </p>
                    </div>
                    <div class="addCon">
                        <p>[[${consignee.consigneeAddress}]]</p>
                        <p>[[${consignee.consigneePhone}]]</p>
                    </div>
                </div>
            </div>

            <h3>支付方式</h3>
            <!--------way---------------->
            <div class="way clearfix">
                <img class="on" th:src="@{/assets/img/customer/temp/way01.jpg}">
                <img th:src="@{/assets/img/customer/temp/way02.jpg}">
                <img th:src=" @{/assets/img/customer/temp/way03.jpg}">
                <img th:src="@{/assets/img/customer/temp/way04.jpg}">
            </div>
            <h3>选择快递</h3>
            <!--------dis---------------->
            <div class="dis clearfix">
                <span class="on">顺风快递</span>
                <span>百世汇通</span>
                <span>圆通快递</span>
                <span>中通快递</span>
            </div>
        </div>
        <div class="orderR fr">
            <form id="form">
                <div class="msg">
                    <h3>订单内容<a th:href="@{/customer/cart}" class="fr">返回购物车</a></h3>
                    <!--------ul---------------->
                    <ul class="clearfix" th:each="cart,n:${session.shoppingList}">
                        <input type="hidden" name="cartId" th:value="${cart.cartId}"/>
                        <li class="fl">
                            <img th:src="@{${cart.getVendors().get(0).pricture1}}" width="87px" height="87px">
                        </li>
                        <li class="fl">
                            <p>[[${cart.getVendors().get(0).vendorName}]]</p>
                            <p>颜色分类：[[${cart.getVendors().get(0).vendorName}]]</p>
                            <p>数量：[[${cart.getCount()}]]</p>
                        </li>
                        <li class="fr">￥[[${cart.getVendors().get(0).price}]]</li>
                        <!--添加一个隐藏域用来计算每件商品的总价-->
                        <li class="vendor-price" style="display: none">
                            [[${cart.getVendors().get(0).price * cart.count}]]
                        </li>
                    </ul>
                </div>
            </form>

            <!--------tips---------------->
            <div class="tips">
                <p><span class="fl">商品金额：</span><span class="fr all"></span></p>
                <p><span class="fl">优惠金额：</span><span class="fr">￥0.00</span></p>
                <p><span class="fl">运费：</span><span class="fr">免运费</span></p>
            </div>
            <!--------tips count---------------->
            <div class="count tips">
                <p><span class="fl">合计：</span><span class="fr all"></span></p>
            </div>
            <a href="javascript:void(0)" onclick="toOk()" class="pay">去支付</a>
        </div>
    </div>
</div>
<div class="mask"></div>
<!--引入返回顶部工具栏-->
<div th:replace="commons/bar::gotobar"></div>
<!--引入页面底部-->
<div th:replace="commons/bar::footerbar"></div>
<script th:src="@{/assets/js/customer/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/customer/public.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/customer/pro.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/customer/user.js}" type="text/javascript" charset="utf-8"></script>
<!--引入公共头部的js-->
<span th:replace="commons/js::js"></span>
<script type="text/javascript">
    $(function () {
        //计算订单总价
        var all = 0;
        $(".vendor-price").each(function () {
            //获取每件商品总价
            var sAll = $(this).text().substring(1);
            //累加
            all += parseFloat(sAll);
            //赋值
            $(".all").text('￥' + all.toFixed(2));
        });
    });
</script>


</body>
</html>
