<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>订单</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/customer/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/customer/proList.css}"/>
</head>
<body>
<!----------------------------------------order------------------>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl"><a href="index.html" th:href="@{/index}">
                <img th:src="@{/assets/img/customer/logo.png}"/></a>
            </h1>
            <div class="fr clearfix" id="top1">
                <p class="fl">
                    <a href="login.html" id="login">登录</a>
                    <a href="register.html" id="reg">注册</a>
                </p>
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="搜索"/>
                    <input type="button"/>
                </form>
                <div class="btn fl clearfix">
                    <a href="personalcenter.html">
                        <img th:src="@{/assets/img/customer/grzx.png}"/>
                    </a>
                    <a href="#" class="er1">
                        <img th:src="@{/assets/img/customer/ewm.png}"/>
                    </a>
                    <a href="cart.html"><img th:src="@{/assets/img/customer/gwc.png}"/></a>
                    <p><a href="#"><img th:src="@{/assets/img/customer/smewm.png}"/></a></p>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="index.html">首页</a></li>
            <li>
                <a href="#">所有商品</a>
                <div class="sList">
                    <div class="wrapper  clearfix">
                        <a href="lunch.html">
                            <dl>
                                <dt><img src="/vendor/vendor_main/static/assets/img/customer/nav1.jpg"/></dt>
                                <dd>浓情欧式</dd>
                            </dl>
                        </a>
                        <a href="lunch.html">
                            <dl>
                                <dt><img src="/vendor/vendor_main/static/assets/img/customer/nav2.jpg"/></dt>
                                <dd>浪漫美式</dd>
                            </dl>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="drink.html">装饰摆件</a>
                <div class="sList2">
                    <div class="clearfix">
                        <a href="proList.html">干花花艺</a>
                        <a href="vase_proList.html">花瓶花器</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="yogurt.html">布艺软饰</a>
                <div class="sList2">
                    <div class="clearfix">
                        <a href="zbproList.html">桌布罩件</a>
                        <a href="bzproList.html">抱枕靠垫</a>
                    </div>
                </div>
            </li>
            <li><a href="lunch.html">墙式壁挂</a></li>
            <li><a href="icecream.html">蜡艺香薰</a></li>
            <li><a href="multiple.html">创意家居</a></li>
        </ul>
    </div>
</div>

<div class="order cart mt">
    <!-----------------site------------------->
    <div class="site">
        <p class="wrapper clearfix">
            <span class="fl">订单确认</span>
            <img class="top" th:src="@{/assets/img/customer/temp/cartTop02.png}">
        </p>
    </div>
    <!-----------------orderCon------------------->
    <div class="orderCon wrapper clearfix">
        <div class="orderL fl">
            <!--------h3---------------->
            <h3>收件信息<a th:href="@{/address}" class="fr">新增地址</a></h3>
            <!--------addres---------------->
            <div class="addres clearfix">
                <div class="addre fl on">
                    <div class="tit clearfix">
                        <p class="fl">张三1
                            <span class="default">[默认地址]</span>
                        </p>
                        <p class="fr">
                            <a href="#">删除</a>
                            <span>|</span>
                            <a href="#" class="edit">编辑</a>
                        </p>
                    </div>
                    <div class="addCon">
                        <p>河北省&nbsp;唐山市&nbsp;路北区&nbsp;大学生公寓村</p>
                        <p>15732570937</p>
                    </div>
                </div>
                <div class="addre fl">
                    <div class="tit clearfix">
                        <p class="fl">张三2
                        </p>
                        <p class="fr">
                            <a href="#" class="setDefault">设为默认</a>
                            <span>|</span>
                            <a href="#">删除</a>
                            <span>|</span>
                            <a href="#" class="edit">编辑</a>
                        </p>
                    </div>
                    <div class="addCon">
                        <p>河北省&nbsp;唐山市&nbsp;路北区&nbsp;大学生公寓村</p>
                        <p>15732570937</p>
                    </div>
                </div>
                <div class="addre fl">
                    <div class="tit clearfix">
                        <p class="fl">张三3
                        </p>
                        <p class="fr">
                            <a href="#" class="setDefault">设为默认</a>
                            <span>|</span>
                            <a href="#">删除</a>
                            <span>|</span>
                            <a href="#" class="edit">编辑</a>
                        </p>
                    </div>
                    <div class="addCon">
                        <p>河北省&nbsp;唐山市&nbsp;路北区&nbsp;大学生公寓村</p>
                        <p>15732570937</p>
                    </div>
                </div>
            </div>
            <h3>支付方式</h3>
            <!--------way---------------->
            <div class="way clearfix">
                <img class="on" th:src="@{/assets/img/customer/temp/way01.jpg}">
                <img th:src="@{/assets/img/customer/temp/way02.jpg}">
                <img th:src=" @{/assets/img/customer/temp/way03.jpg}">
                <img th:src="@{/assets/img/customer/temp/way04.jpg}">
            </div>
            <h3>选择快递</h3>
            <!--------dis---------------->
            <div class="dis clearfix">
                <span class="on">顺风快递</span>
                <span>百世汇通</span>
                <span>圆通快递</span>
                <span>中通快递</span>
            </div>
        </div>
        <div class="orderR fr">
            <div class="msg">
                <h3>订单内容<a href="cart.html"  th:href="@{/cart}" class="fr">返回购物车</a></h3>
                <!--------ul---------------->
                <ul class="clearfix">
                    <li class="fl">
                        <img src="/vendor/vendor_main/static/assets/img/customer/sf1.jpg"
                             th:src="@{/assets/img/customer/temp/order01.jpg}" width="87px" height="87px">
                    </li>
                    <li class="fl">
                        <p>创意现代简约干花花瓶摆件</p>
                        <p>颜色分类：烟灰色玻璃瓶</p>
                        <p>数量：1</p>
                    </li>
                    <li class="fr">￥69.90</li>
                </ul>
                <ul class="clearfix">
                    <li class="fl">
                        <img src="/vendor/vendor_main/static/assets/img/customer/sf1.jpg"
                             th:src="@{/assets/img/customer/temp/order01.jpg}" width="87px" height="87px">
                    </li>
                    <li class="fl">
                        <p>创意现代简约干花花瓶摆件</p>
                        <p>颜色分类：烟灰色玻璃瓶</p>
                        <p>数量：1</p>
                    </li>
                    <li class="fr">￥69.90</li>
                </ul>
                <ul class="clearfix">
                    <li class="fl">
                        <img src="/vendor/vendor_main/static/assets/img/customer/sf1.jpg"
                             th:src="@{/assets/img/customer/temp/order01.jpg}" width="87px" height="87px">
                    </li>
                    <li class="fl">
                        <p>创意现代简约干花花瓶摆件</p>
                        <p>颜色分类：烟灰色玻璃瓶</p>
                        <p>数量：1</p>
                    </li>
                    <li class="fr">￥69.90</li>
                </ul>
            </div>
            <!--------tips---------------->
            <div class="tips">
                <p><span class="fl">商品金额：</span><span class="fr">￥139.80</span></p>
                <p><span class="fl">优惠金额：</span><span class="fr">￥0.00</span></p>
                <p><span class="fl">运费：</span><span class="fr">免运费</span></p>
            </div>
            <!--------tips count---------------->
            <div class="count tips">
                <p><span class="fl">合计：</span><span class="fr">￥139.80</span></p>
            </div>
            <!--<input type="button" name="" value="去支付"> -->
            <a href="ok.html" class="pay">去支付</a>
        </div>
    </div>
</div>
<div class="mask"></div>
<!--引入返回顶部工具栏-->
<div th:replace="commons/bar::gotobar"></div>
<!--引入页面底部-->
<div th:replace="commons/bar::footerbar"></div>
<script src="js/user.js" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/jquery-1.12.4.min.js"
        th:src="@{/assets/js/customer/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/public.js" th:src="@{/assets/js/customer/public.js}"
        type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/pro.js" th:src="@{/assets/js/customer/pro.js}"
        type="text/javascript" charset="utf-8"></script>
</body>
</html>
