<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="utf-8"/>
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" href="/vendor/vendor_main/static/assets/css/customer/public.css"
          th:href="@{/assets/css/customer/public.css}"/>
    <link rel="stylesheet" type="text/css" href="/vendor/vendor_main/static/assets/css/customer/mygxin.css"
          th:href="@{/assets/css/customer/mygxin.css}"/>
</head>
<body>
<!------------------------------head------------------------------>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl"><a th:href="@{/user/index}">
                <img src="/vendor/vendor_main/static/assets/img/customer/logo.png"
                     th:src="@{/assets/img/customer/logo.png}"/></a>
            </h1>
            <div class="fr clearfix" id="top1">
                <p class="fl">
                    <a href="#" id="login">登录</a>
                    <a href="#" id="reg">注册</a>
                </p>
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="搜索"/>
                    <input type="button"/>
                </form>
                <div class="btn fl clearfix">
                    <a href="personalcenter.html"><img src="/vendor/vendor_main/static/assets/img/customer/grzx.png"
                                                       th:src="@{/assets/img/customer/grzx.png}"/></a>
                    <a href="#" class="er1"><img src="/vendor/vendor_main/static/assets/img/customer/ewm.png"
                                                 th:src="@{/assets/img/customer/ewm.png}"/></a>
                    <a href="cart.html"><img src="/vendor/vendor_main/static/assets/img/customer/gwc.png"
                                             th:src="@{/assets/img/customer/gwc.png}"/></a>
                    <p><a href="#"><img src="/vendor/vendor_main/static/assets/img/customer/smewm.png"
                                        th:src="@{/assets/img/customer/smewm.png}"/></a></p>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="index.html" th:href="@{/user/index}">首页</a></li>
            <li>
                <a href="#" th:href="@{/user/index}">所有商品</a>
                <div class="sList">
                    <div class="wrapper  clearfix">
                        <a href="lunch.html">
                            <dl>
                                <dt><img src="/vendor/vendor_main/static/assets/img/customer/nav1.jpg"
                                         th:src="@{/assets/img/customer/nav1.jpg}"/></dt>
                                <dd>浓情欧式</dd>
                            </dl>
                        </a>
                        <a href=" lunch.html">
                            <dl>
                                <dt><img src="/vendor/vendor_main/static/assets/img/customer/nav2.jpg"
                                         th:src="@{/assets/img/customer/nav2.jpg}"/>
                                </dt>
                                <dd>浪漫美式</dd>
                            </dl>
                        </a>
                        <a href="lunch.html">
                            <dl>
                                <dt><img src="/vendor/vendor_main/static/assets/img/customer/nav3.jpg"
                                         th:src="@{/assets/img/customer/nav3.jpg}"/></dt>
                                <dd>雅致中式</dd>
                            </dl>
                        </a>
                        <a href="lunch.html">
                            <dl>
                                <dt><img src="/vendor/vendor_main/static/assets/img/customer/nav6.jpg"
                                         th:src="@{/assets/img/customer/nav6.jpg}"/></dt>
                                <dd>简约现代</dd>
                            </dl>
                        </a>
                        <a href="lunch.html">
                            <dl>
                                <dt><img src="/vendor/vendor_main/static/assets/img/customer/nav7.jpg"
                                         th:src="@{/assets/img/customer/nav7.jpg}"/>/>
                                </dt>
                                <dd>创意装饰</dd>
                            </dl>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="drink.html">装饰摆件</a>
                <div class="sList2">
                    <div class="clearfix">
                        <a href="proList.html">干花花艺</a>
                        <a href="vase_proList.html">花瓶花器</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="yogurt.html">布艺软饰</a>
                <div class="sList2">
                    <div class="clearfix">
                        <a href="zbproList.html">桌布罩件</a>
                        <a href="bzproList.html">抱枕靠垫</a>
                    </div>
                </div>
            </li>
            <li><a href="lunch.html">墙式壁挂</a></li>
            <li><a href="icecream.html">蜡艺香薰</a></li>
            <li><a href="multiple.html">创意家居</a></li>
        </ul>
    </div>
</div>
<!------------------------------idea------------------------------>
<div class="address mt" id="add">
    <div class="wrapper clearfix">
        <a href="index.html" th:href="@{/user/index}" class="fl">首页</a>
        <span>/</span>
        <a href="personalcenter.html" th:href="@{/personalcenter}" class="on">个人中心</a>
    </div>
</div>

<!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div class="zuo fl">
            <h3>
                <a href="#"><img src="/vendor/vendor_main/static/assets/img/customer/tx.png"
                                 th:src="@{/assets/img/customer/tx.png}"/></a>
                <p class="clearfix"><span class="fl">[羊羊羊]</span><span class="fr">[退出登录]</span></p>
            </h3>
            <div>
                <h4>我的交易</h4>
                <ul>
                    <li><a href="cart.html" th:href="@{/cart}">我的购物车</a></li>
                    <li><a href="myorder.html" th:href="@{/customer/myorder/1}">我的订单</a></li>
                </ul>
                <h4>个人中心</h4>
                <ul>
                    <li class="on"><a href="personalcenter.html"
                                      th:href="@{/personalcenter}">我的中心</a></li>
                    <li><a href="address.html" th:href="@{/address}">地址管理</a></li>
                </ul>
                <h4>账户管理</h4>
                <ul>
                    <li><a href="information.html" th:href="@{/information}">个人信息</a></li>
                    <li><a href="modifypassword.html" th:href="@{/modifypassword}">修改密码</a></li>
                </ul>
            </div>
        </div>
        <div class="you fl">
            <div class="tx clearfix">
                <div class="fl clearfix">
                    <a href="#" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/tx.png"
                                                th:src="@{/assets/img/customer/tx.png}"/></a>
                    <p class="fl"><span>六六六</span><a href="information.html"
                                                     th:href="@{/information}">修改个人信息></a></p>
                </div>
                <div class="fr">绑定邮箱：12****4@**.com</div>
            </div>
            <div class="bott">
                <div class="clearfix">
                    <a href="#" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/gxin1.jpg"
                                                th:src="@{/assets/img/customer/gxin1.jpg}"/></a>
                    <p class="fl"><span>待支付的订单：<strong>0</strong></span>
                        <a href="myorder.html">查看待支付订单></a>
                    </p>
                </div>
                <div class="clearfix">
                    <a href="#" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/gxin2.jpg"
                                                th:src="@{/assets/img/customer/gxin2.jpg}"/></a>
                    <p class="fl"><span>待收货的订单：<strong>0</strong></span>
                        <a href="myorder.html">查看待收货订单></a>
                    </p>
                </div>
                <div class="clearfix">
                    <a href="#" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/gxin3.jpg"
                                                th:src="@{/assets/img/customer/gxin3.jpg}"/></a>
                    <p class="fl"><span>待评价的订单：<strong>0</strong></span>
                        <a href="myprod.html">查看待评价订单></a>
                    </p>
                </div>
                <div class="clearfix">
                    <a href="#" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/gxin4.jpg"
                                                th:src="@{/assets/img/customer/gxin4.jpg}"/></a>
                    <p class="fl"><span>喜欢的商品：<strong>0</strong></span>
                        <a href="#">查看喜欢的商品></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--引入返回顶部工具栏-->
<div th:replace="commons/bar::gotobar"></div>
<!--引入页面底部-->
<div th:replace="commons/bar::footerbar"></div>
<script src="/vendor/vendor_main/static/assets/js/customer/jquery-1.12.4.min.js"
        th:src="@{/assets/js/customer/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/public.js" th:src="@{/assets/js/customer/public.js}"
        type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/user.js" th:src="@{/assets/js/customer/user.js}"
        type="text/javascript" charset="utf-8"></script>
</body>
</html>
