<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>详情页</title>

    <link rel="stylesheet" type="text/css" href="/vendor/vendor_main/static/assets/css/customer/public.css"
          th:href="@{/assets/css/customer/public.css}"/>
    <link rel="stylesheet" type="text/css" href="/vendor/vendor_main/static/assets/css/customer/proList.css"
          th:src="@{/assets/css/customer/proList.css}"/>
</head>
<body>
<!------------------------------head------------------------------>
<div class="head">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl"><a href="index.html"><img src="/vendor/vendor_main/static/assets/img/customer/logo.png"
                                                     width="175.2px" height="60px"
                                                     th:src="@{/assets/img/customer/login.png}"/></a></h1>
            <div class="fr clearfix" id="top1">
                <p class="fl">
                    <a href="#" id="login">登录</a>
                    <a href="#" id="reg">注册</a>
                </p>
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="热门搜索：干花花瓶"/>
                    <input type="button"/>
                </form>
                <div class="btn fl clearfix">
                    <a href="mygxin.html">
                        <img src="/vendor/vendor_main/static/assets/img/customer/grzx.png"
                             th:src="@{/assets/img/customer/grzx.png}"/>
                    </a>
                    <a href="cart.html">
                        <img src="/vendor/vendor_main/static/assets/img/customer/gwc.png"
                             th:src="@{/assets/img/customer/grzx.png}"/>
                    </a>
                    <p>
                        <a href="#">
                            <img src="/vendor/vendor_main/static/assets/img/customer/smewm.png"
                                 th:src="@{/assets/img/customer/smewm.png}"/>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="index.html">首页</a></li>
            <li>
                <a href="#">所有商品</a>
            </li>
            <li>
                <a href="flowerDer.html">饮料机</a>
            </li>
            <li>
                <a href="decoration.html">酸奶机</a>
            </li>
            <li><a href="paint.html">盒饭机</a></li>
            <li><a href="perfume.html">冰淇淋机</a></li>
            <li><a href="idea.html">综合机</a></li>
        </ul>
    </div>
</div>

<!-----------------address------------------------------->
<div class="address">
    <div class="wrapper clearfix">
        <a href="index.html">首页</a>
        <span>/</span>
        <a href="flowerDer.html">盒饭机</a>
        <span>/</span>
        <a href="#" class="on">【机你太美】牛肉饭机</a>
    </div>
</div>
<!-----------------------Detail------------------------------>
<div class="detCon">
    <div class="proDet wrapper">
        <div class="proCon clearfix">
            <div class="proImg fl">
                <img class="det" src="/vendor/vendor_main/static/assets/img/customer/sf1.jpg"
                     th:src="@{/assets/img/customer/sf1.jpg}" width="580px"
                     height="580px"/>
                <div class="smallImg clearfix">
                    <img src="/vendor/vendor_main/static/assets/img/customer/sf1.jpg"
                         th:src="@{/assets/img/customer/sf1.jpg}"
                         data-src="/vendor/vendor_main/static/assets/img/customer/sf1.jpg"
                         data-th-src="@{/assets/img/customer/sf2.jpg}">
                    <img src="/vendor/vendor_main/static/assets/img/customer/sf2.jpg"
                         th:src="@{/assets/img/customer/sf2.jpg}"
                         data-src="/vendor/vendor_main/static/assets/img/customer/sf3.jpg"
                         data-th-src="@{/assets/img/customer/sf3.jpg}">
                </div>
            </div>
            <div class="fr intro">
                <div class="title">
                    <h4>【最家】非洲菊仿真花干花</h4>
                    <p>【破损补寄】【适合放室内、卧室、书房、餐桌、办公室、客厅、电视柜等地方】【无理由退换货】【包邮】【白色现代简约花瓶】</p>
                    <span>￥59.90</span>
                </div>
                <div class="proIntro">
                    <p>数量&nbsp;&nbsp;库存<span>2096</span>件</p>
                    <div class="num clearfix">
                        <img class="fl sub" src="/vendor/vendor_main/static/assets/img/customer/temp/sub.jpg"
                             th:src="@{/assets/img/customer/temp/sub.jpg}">
                        <span class="fl" contentEditable="true">1</span>
                        <img class="fl add" src="/vendor/vendor_main/static/assets/img/customer/temp/add.jpg"
                             th:src="@{/assets/img/customer/temp/add.jpg}">
                        <p class="please fl">请选择商品属性!</p>
                    </div>
                </div>
                <div class="btns clearfix">
                    <a href="#2"><p class="buy fl">立即购买</p></a>
                    <a href="#2"><p class="cart fr">加入购物车</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="introMsg wrapper clearfix">
    <div class="msgL fl">
        <div class="msgTit clearfix">
            <a class="on">商品详情</a>
        </div>
        <div class="msgAll">
            <div class="msgImgs">
                <img src="/vendor/vendor_main/static/assets/img/customer/sf1.jpg" width="942px" height="1000px"
                     th:src="@{/assets/img/customer/sf1.jpg}">
                <img src="/vendor/vendor_main/static/assets/img/customer/sf2.jpg" width="942px" height="1000px"
                     th:src="@{/assets/img/customer/sf2.jpg}">
                <img src="/vendor/vendor_main/static/assets/img/customer/sf3.jpg" width="942px" height="1000px"
                     th:src="@{/assets/img/customer/temp/sf3.jpg}">
            </div>
        </div>
    </div>
</div>
<!--返回顶部-->
<div class="gotop">
    <a href="cart.html">
        <dl>
            <dt>
                <img src="/vendor/vendor_main/static/assets/img/customer/gt1.png"
                     th:src="@{/assets/img/customer/gt1.png}"/>
            </dt>
            <dd>去购<br/>物车</dd>
        </dl>
    </a>
    <a href="#" class="dh">
        <dl>
            <dt><img src="/vendor/vendor_main/static/assets/img/customer/gt2.png"
                     th:src="@{/assets/img/customer/gt2.png}"/></dt>
            <dd>联系<br/>客服</dd>
        </dl>
    </a>
    <a href="mygxin.html">
        <dl>
            <dt><img src="/vendor/vendor_main/static/assets/img/customer/gt3.png"
                     th:src="@{/assets/img/customer/gt3.png}"/></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a href="#" class="toptop" style="display: none">
        <dl>
            <dt><img src="/vendor/vendor_main/static/assets/img/customer/gt4.png"
                     th:src="@{/assets/img/customer/gt4.png}"/></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
    <p>400-800-8200</p>
</div>
<!--footer-->
<div class="footer">
    <div class="top">
        <div class="wrapper">
            <div class="clearfix">
                <a href="#2" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/foot1.png"
                                             th:src="@{/assets/img/customer/foot1.png}"/></a>
                <span class="fl">7天无理由退货</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/foot2.png"
                                             th:src="@{/assets/img/customer/foot2.png}"/></a>
                <span class="fl">15天免费换货</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/foot3.png"
                                             th:src="@{/assets/img/customer/foot3.png}"/></a>
                <span class="fl">满599包邮</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="/vendor/vendor_main/static/assets/img/customer/foot4.png"
                                             th:src="@{/assets/img/customer/foot4.png}"/></a>
                <span class="fl">手机特色服务</span>
            </div>
        </div>
    </div>
    <p class="dibu">最家家居&copy;2013-2017公司版权所有 京ICP备080100-44备0000111000号<br/>
        违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
</div>
<script src="/vendor/vendor_main/static/assets/js/customer/jquery-1.12.4.min.js"
        th:src="@{/assets/js/customer/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/jquery.SuperSlide.2.1.1.js"
        th:src="@{/assets/js/customer/public.js}"
        type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/public.js" th:src="@{/assets/js/customer/public.js}"
        type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/nav.js" th:src="@{/assets/js/customer/nav.js}"
        type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/pro.js" th:src="@{/assets/js/customer/pro.js}"
        type="text/javascript" charset="utf-8"></script>
<script src="/vendor/vendor_main/static/assets/js/customer/cart.js" th:src="@{/assets/js/customer/cart.js}"
        type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    jQuery(".bottom").slide({
        titCell: ".hd ul",
        mainCell: ".bd .likeList",
        autoPage: true,
        autoPlay: false,
        effect: "leftLoop",
        autoPlay: true,
        vis: 1
    });
</script>
</body>
</html>
